<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CustomerTodoServlet</servlet-name>
		<servlet-class>com.custTODO.CustomerTodoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerTodoServlet</servlet-name>
		<url-pattern>/registration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.custTODO.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.custTODO.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateCustomer</servlet-name>
		<servlet-class>com.custTODO.CreateCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCustomer</servlet-name>
		<url-pattern>/CreateCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateList</servlet-name>
		<servlet-class>com.custTODO.CreateListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateList</servlet-name>
		<url-pattern>/CreateList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadCustomer</servlet-name>
		<servlet-class>com.custTODO.LoadCustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadCustomer</servlet-name>
		<url-pattern>/LoadCustomer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoadTodo</servlet-name>
		<servlet-class>com.custTODO.LoadListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoadTodo</servlet-name>
		<url-pattern>/LoadTodo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoogleOAuth</servlet-name>
		<servlet-class>com.custTODO.googleServices.GoogleOAuth</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoogleOAuth</servlet-name>
		<url-pattern>/oauth2callback</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
